<ion-view spaces view-title="Poker" style="background-color: WhiteSmoke">

  <ion-content>

		<div class="row">
			<button class="col button button-outline button-dark spaces" onClick="location.href='../templates/main.html'">1</button>
			<button class="col button button-outline button-dark spaces">2</button>
			<button class="col button button-outline button-dark spaces">3</button>
		</div>

		<div class="row"> 
			<div class="col button button-outline button-dark spaces">5</div>
			<div class="col button button-outline button-dark spaces">8</div>
			<div class="col button button-outline button-dark spaces">13</div>
		</div>

		<div class="row">
			<div class="col button button-outline button-dark spaces">21</div>
			<div class="col button button-outline button-dark spaces">34</div>
			<div class="col button button-outline button-dark spaces">55</div>
		</div>

		<div class="row">
			<div class="col button button-outline button-dark large spaces">∞</div>
		</div>

 	<div class="bottom-pane">
		<div class="button left-panel bbreak" onClick="location.href='../img/paper.png'"></div>
		<div class="button right-panel coffee" onClick="location.href='../img/coffeebreak.png'"></div>
	</div>

  </ion-content>		

</ion-view>
