<ion-view spaces view-title="Poker" style="background-color: WhiteSmoke">

  <ion-content>

		<div class="row">
			<button class="col button button-outline button-dark spaces" ng-click="showModal(1)">1</button>
			<button class="col button button-outline button-dark spaces" ng-click="showModal(2)">2</button>
			<button class="col button button-outline button-dark spaces" ng-click="showModal(3)">3</button>
		</div>

		<div class="row"> 
			<div class="col button button-outline button-dark spaces" ng-click="showModal(5)">5</div>
			<div class="col button button-outline button-dark spaces" ng-click="showModal(8)">8</div>
			<div class="col button button-outline button-dark spaces" ng-click="showModal(13)">13</div>
		</div>

		<div class="row">
			<div class="col button button-outline button-dark spaces" ng-click="showModal(21)">21</div>
			<div class="col button button-outline button-dark spaces" ng-click="showModal(34)">34</div>
			<div class="col button button-outline button-dark spaces" ng-click="showModal(55)">55</div>
		</div>

		<div class="row">
			<div class="col button button-outline button-dark large spaces" ng-click="showModal('∞')">∞</div>
		</div>

 	<div class="bottom-pane">
		<div class="button left-panel bbreak" ng-click="showModal(a)"></div>
		<div class="button right-panel coffee" ng-click="showModal(b)"></div>
	</div>

  </ion-content>		

</ion-view>
