<ion-view spaces view-title="Poker" style="background-color: WhiteSmoke">

  <ion-content>

		<div class="row">
			<button class="col button button-outline button-dark spaces">1</button>
			<button class="col button button-outline button-dark spaces">2</button>
			<button class="col button button-outline button-dark spaces">3</button>
		</div>

 	<div class="bottom-pane">
		<div class="button left-panel bbreak" onClick="location.href='../img/paper.png'"></div>
		<div class="button right-panel coffee" onClick="location.href='../img/coffeebreak.png'"></div>
	</div>

  </ion-content>		

</ion-view>
