.spaces {
	margin: .2em .3em .3em .3em;
	font-size: 2em;
	line-height: 80px !important;
	width: 90px !important;
}

.large {
	margin: .3em .2em .1em .2em;
	font-size: 2.2em;
	line-height: 50px !important;
	width: 90px !important;
}

.bottom-pane {
	position: static;
	width: 100%;
	bottom: 5%;
	height: 21%;
}

.left-panel{
	background-color: white;
	height: 100%;
	float: left;
	width: 50%;
	margin: 0px 0px 0px 2.5em;
}

.right-panel{
	background-color: white;
	height: 100%;
	float: right;
	width: 50%;
	margin: 0px 2.5em 0px 0px;
}

.bbreak{
	height: 34vw;
	width: 34vw;
	content: url(../img/paper.png);
}

.coffee{
	height: 34vw;
	width: 34vw;
	content: url(../img/coffeebreak.png);
}

.cover{
	background-color: #0039A6;
	background-image: url(../img/theB3.png);
	background-repeat: no-repeat;
	background-attachment: fixed;
    background-position: center; 
	text-align: center;
	line-height: 500px;
	height: 100%;
	width: 100%;
}

.number{
	background: #F1632A;
	color: white;
	text-align: center;
	line-height:200%;
	font-size: 230px;
	height: 100%;
	width: 100%;
	text-shadow: 0px 0px 10px #F9461C;
	font-family: Arial !important;
}

.paper-cover{
	background-color: #F9461C;
	background-image: url(../img/paper.png);
	background-repeat: no-repeat;
	background-attachment: fixed;
    background-position: center; 
	text-align: center;
	line-height: 500px;
	height: 100%;
	width: 100%;
}

.coffee-cover{
	background-color: #F9461C;
	background-image: url(../img/coffeebreak.png);
	background-repeat: no-repeat;
	background-attachment: fixed;
    background-position: center; 
	line-height: 500px;
	height: 100%;
	width: 100%;
}